.verkut-layer-controllers-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.verkut-layer-controllers-list__item + .verkut-layer-controllers-list__item {
  margin-top: 8px;
}

.verkut-layer-controllers-list__item__body {
  display: flex;
}

.verkut-layer-controllers-list__item__preview-area {
  width: 160px;
  aspect-ratio: 16 / 9;
  background-color: var(--color-real-black);
}
